body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.embed {
  float: right;
  font-weight: bold;
  color: #000000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

