<% if @attribution_data[:publisher_name] %>
    <div class="well">
        Uses data supplied by <a href="<%= attribution_url( @attribution_data ) %>"><%= @attribution_data[:publisher_name] %></a>
    </div>
<% end %>                    
