<div class="row-fluid">
    <div class="span12">
        <h2>Raw Data</h2>
    </div>
</div>    
<div class="row-fluid">
    <div class="span8">
        <pre><%= JSON.pretty_generate( @attribution_data ) %></pre>                    
    </div>
    <div class="span4">
        <p>This is a representation of the metadata extracted about this dataset.</p>
    </div>
</div>
