<div class="row-fluid">
    <div class="span12">
    
      <div class="hero-unit">
        <div class="pagination-centered">
            <h1>Dataset Attribution and Citation</h1>
            <p>
            A prototype that demonstrates using machine-readable metadata to automatically generate attribution and citations for open data.
            </p>
        </div>            
      </div>
      
      <div class="row-fluid">
        <div class="span12 pagination-centered">
            <form method="GET" action="" class="form-inline">
                <input type="text" id="url" name="url" class="input-xxlarge" placeholder="Dataset URL" value="<%= params[:url] %>">
                <button type="submit" class="btn">Attribute</button>
            </form>
        </div>              
      </div>
      
      <% if @error %>
         <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-error">
                    <p><strong>Sorry!</strong> error encountered processing dataset metadata<p>
                </div>                
            </div>
          </div>               
      <% end %>
      
      <% if @attribution_data %>
        <% if @attribution_data["_source"] %>
            <%= erb :attribution %>
        <% else %>
          <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-error">
                    <p><strong>Sorry!</strong> but we couldn't find any machine-readable metadata for that dataset url<p>
                </div>                
            </div>
          </div>
        <% end %>
      <% end %>
      
    </div>
</div>