<div class="row-fluid">
    <div class="span12">
    
      <div class="hero-unit">
        <div class="pagination-centered">
            <h1>Dataset Attribution and Citation</h1>
            <p>
            A prototype that demonstrates using machine-readable metadata to automatically generate attribution and citations for open data.
            </p>
        </div>            
      </div>
      
      <div class="row-fluid">
        <div class="span12 pagination-centered">
                <% if @error %>
                    <div class="alert alert-error">
                        <p><strong>Sorry!</strong> error encountered processing dataset metadata<p>
                    </div>                
                <% end %>                
                <% if !found_metadata?(@attribution_data) %>
                    <div class="alert alert-warning">
                        <p><strong>Sorry!</strong> but we couldn't find any machine-readable metadata for that dataset url<p>
                    </div>                
                <% end %>                
                <% if !can_build_attribution?(@attribution_data) %>
                    <div class="alert alert-warning">
                        <p><strong>Sorry!</strong> but we can't build attribution or citation links as the required metadata is not available.<p>
                    </div>                                
                <% end %>
                        
            <form method="GET" action="" id="lookup-form" class="form-inline">
                <input type="text" id="url" 
                    name="url" class="input-xxlarge" 
                    placeholder="Dataset URL" value="<%= params[:url] %>">
                <button type="submit" id="lookup" class="btn">Lookup</button>
            </form>
                <div id="examples">
                    <p>Try an example URL: 
                    <a href="http://data.gov.uk/dataset/renewables_obligation-certificates_and_generation" 
                       class="example">data.gov.uk</a>,
                    <a href="http://dx.doi.org/10.6084/m9.figshare.818981" 
                       class="example">DOI</a>,
                    <a href="http://data.ordnancesurvey.co.uk/id/data/os-linked-data" 
                       class="example">Linked Data</a>,
                    <a href="https://github.com/theodi/dataset-mod-disposals.git"
                       class="example">Github</a>
                    </p>                   
                </div>
            
        </div>              
    </div>
                
      <% if found_metadata?(@attribution_data) && can_build_attribution?(@attribution_data) %>
          <%= erb :attribution %>
          <%= erb :citation %>
      <% end %>
      
      <% if found_metadata?(@attribution_data) %>
          <%= erb :data %>
      <% end %>
</div>