<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hat Tip: Attributing and Citing Data on the Web</title>
        
	<%= stylesheet_link_tag "/stylesheets/bootstrap.css", "/stylesheets/bootstrap-responsive.css", "/stylesheets/application.css" %>        
        
  </head>
  <body>

    <a href="https://github.com/theodi/hat-tip">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000;"
       src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Hat Tip: Attributing and Citing Data on the Web</a>
        </div>
      </div>
    </div>

	<div class="container-fluid">					
		<%= yield %>		
	</div>
	
	<div id="footer">
		<hr />		
		<div class="container-fluid">    									
			<div class="row-fluid">
    			<div class="span12">
  					<a href='http://theodi.org'>An Open Data Institute experiment</a>
  				</div>
		</div>
	</div>		

    <%= javascript_include_tag '/javascripts/jquery.js', '/javascripts/bootstrap.min.js', '/javascripts/application.js' %>
    
  </body>
</html>